tmp/
Campfire_HCI_Report (1) (1).pdf
Hunt Poland Website.pdf
Report_webot.pdf
Akıllı Güvenlik Sistemlerinde Derin Öğrenme Tabanlı İzinsiz Giriş ve Şüpheli Davranış Tespiti.pdf
Klasik Makine Öğrenmesi ve Derin Öğrenme Yaklaşımları  Kullanılarak Bitki Yaprağı Hastalığı Sınıflandırması.pdf
Thumbs.db
.DS_Store
